/************************
***popular calculators***
************************/

// designign homepage new features
.new-features {
    margin-top: 7rem;
    padding: var(--padding-sides);
    
    // title of new features
    .new-features-title {
        font-family: var(--body-font-family);
        font-size: var(--xx-large-font-size);
        color: var(--head-text-color);
        text-align: center;
    }

    // list of the new features
    .new-features-list {
        margin: auto;
        margin-top: 2rem;
        width: fit-content;
        text-align: left;
        list-style: unset;

        // new features list item
        .new-features-item {
            margin-top: 1rem;
            font-family: var(--head-font-family);
            font-size: var(--large-font-size);
            color: var(--body-text-color);
        }
    }
}
