//the place containing the calculators
.calculator {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 12vw;
    row-gap: 50px;

    //each calculator
    .calc {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .field:focus {
            border-color: var(--main-blue);
        }
    }
}

//for screens bigger than 1600px
@media screen and (min-width: 1600px) {
    .calculator {
        row-gap: 70px;
    }
}

//for ipad pro screen
@media screen and (max-width: 1024px) {
    .calculator {
        grid-template-columns: auto auto;
        column-gap: 12vw;
    }
}

//for ipad
@media screen and (max-width: 768px) {
    .calculator {
        column-gap: 8vw;
    }
}

//for mobile
@media screen and (max-width: 660px) {
    .calculator {
        grid-template-columns: auto;
    }
}
