<%- include('../../../defaults/header') %>

<%- include('../../../pageTitle-backPage') %>



<!--working area-->
<section class="container">
    <!--calculator-->
    <div id="calculator" class="calculator">


        <!--Input parts-->
        <div class="equation">
            <h3 class="name">Input the Values</h3>
            <!--equation-->
            <h5 class="textLines">
                <!--ax + b = 0-->
                <input type="number" id="number1" class="field fieldLinear" autocomplete="off" placeholder="a"
                    oninput="calculate()">
                x+<input type="number" id="number2" class="field fieldLinear" autocomplete="off" placeholder="b"
                    oninput="calculate()">
                = 0
            </h5>
        </div>

        <!--output-->
        <div class="answer">
            <h3 class="name">Solution:</h3>
            <div class="ans">
                <h5 class="textLines">x = </h5>
                <input type="number" id="answer" class="field answerField" autocomplete="off" placeholder="" readonly>
            </div>
        </div>
    </div>

    <!--Desmos Graph API-->
    <script src="https://www.desmos.com/api/v1.4/calculator.js?apiKey=dcb31709b452b1cf9dc26972add0fda6"></script>
    <!--graph place-->
    <div id="graph" class="graph"></div>
</section>





<%- include('../../../defaults/footer') %>