/********************
***All Calculators***
********************/

// all calculators section
.calculators {
    margin-top: var(--first-element-margin-top);
    padding: var(--padding-sides);
    min-height: 64vh;
}
