/********************
***All Calculators***
********************/

// all calculators section
.calculators,
.calculator-component {
    margin-top: var(--first-element-margin-top);
    padding: var(--padding-sides);
    min-height: 64vh;
}

// changing search result grid to 1 columns in mobile screens
@media screen and (max-width: 500px) {
    .calculators {
        min-height: 53vh;
    }
}
