// designing the brand logo, by default light mode brand logo is active
.brand-logo {
    
    background-color: aquamarine;

    // each brand logo color
    .brand {
        height: var(--brand-image-size);

        // light brand logo, shown in light mode
        &.brand-black {
            display: block;
        }

        // dark mode brand logo, hidden in light mode
        &.brand-white {
            display: none;
        }
    }
}

// showing the dark mode brand logo and hidding the lightmode one in darkmode
[theme-color="dark"] {
    .brand-logo {
        .brand {
            // hiding black brand logo in dark mode
            &.brand-black {
                display: none;
            }

            // showing white brand logo in darkmode
            &.brand-white {
                display: block;
            }
        }
    }
}
