/******************************************
***setting defaults  for the calculators***
******************************************/

.calculator{
    position: relative;
    display: flex;
    justify-content: space-around;

    //inbetween line of calculators
    .mid{
        width: 3px;
        background-image: linear-gradient(var(--main-blue), var(--main-green));
        border: none;
        border-radius: 2px;
    }
}


//calculation area
.calc{
    margin-top: 3vh;
    font-family: var(--body-font);

    //input labels
    .label{
        margin-top: 0.5vh;
    }

    //input parts
    .input{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    //the answer part has a different border and placeholder color
    .answer{
        margin-top: 2vh;
        
        //each answer part
        .ans{
            margin-top: 1.5vh;
            display: flex;
            width: 100%;
            justify-content: space-between;
        }
    }
}

//decimal to fraction part
.decimal{
    width: fit-content;
    align-self: center;
}

//fraction simplifier part
.fraction{
    width: 250px;
    .fractionInput{
        .field{
            width: 43px;
        }
    }
    .division{
        font-size: var(--label);
    }
}


@media screen and (max-width: 1024px), (min-width: 1600px){
    .fraction{
        width: 300px;
        .fractionInput{
            .field{
                width: 57px;
            }
        }
    }
}

//for screen smaller than 1024 ipad pro
@media screen and (max-width: 1024px){
    .container{
        margin: 11vh auto 12vh auto;
        width: 350px;
    }
    .calculator{
        flex-direction: column;
        .mid{
            width: unset;
            height: 3px;
        }
    }
    .decimal{
        margin-bottom: 4vh;
        width: 100%;
    }
    .fraction{
        margin-top: 4vh;
        width: 100%;
    }
}

//for mobile screens
@media screen and (max-width: 414px){
    .container{
        width: var(--width);
    }
    .decimal{
        margin-bottom: 8vh;
    }
    .fraction{
        margin-top: 8vh;
    }
}