/******************************************
***setting defaults  for the calculators***
******************************************/

//part holder
.container{
    margin: 0vh auto;
    display: flex;
    width: calc(100% - 18rem);
    justify-content: space-between;
}
//calculator graph
.graph{
    width: 350px;
    height: 350px;
}
//main calcuator of the page
.calculator{
    align-self: center;
    position: relative;
    width: fit-content;

    //used for the ones tat has long note
    &.longCalculator{
        flex: 1;
        width: 100%;
    }

    //textflilds styling
    .field{
        width: 60px;
    }

    //this is for Cubic Equation about x2 and x3
    .note{
        margin-top: 3vh;
        font-style: italic;
        position: absolute; //this absolute positing if for making the note like taking no space

        //note about using quadratic
        #note{
            color: var(--main-red);
            display: none;
            font-weight: bold;
            font-style: normal;
            white-space: nowrap;

            a{
                color: #000;
            }
        }
    }

    //text lines (equation lines and answers)
    .textLines{
        display: inline;
        font-family: var(--body-font);
        font-size: var(--label);
    }
}

//answer line
.answer{
    margin-top: 5vh;

    .ans{
        margin-bottom: 1vh;
        display: grid;
        grid-template-columns: 50px auto;
        width: 50%;

        .field{
            width: 100%;
        }
    }
}

//for screens smaller than 1024 (ipad pro) or bigger than 1600px
@media screen and (max-width: 1024px), (min-width: 1600px){
    main{
        margin: 5vh auto 15vh auto;
    }
    .graph{
        width: 450px;
        height: 450px;
    }
    .calculator{
        .field{
            width: 100px;
        }
    }
    .answer{
        .ans{
            grid-template-columns: 70px auto;
        }
    }
}

//for ipad pro we make the flex column, but since other designs same as more than 1600, we design it upper with it
@media screen and (max-width: 1024px){
    .container{
        margin: 5vh auto 10vh auto;
        flex-direction: column;
    }
    .graph{
        margin: 15vh auto 0;
    }
    .calculator{
        .note{
            #note{
                white-space: normal;
            }
        }
    }
}

//for screens smaller than 768px
@media screen and (max-width: 768px){
    .container{
        width: var(--width);
    }
}


//for moblie screen
@media screen and (max-width: 414px){
    .graph{
        margin: 34vh auto 0;
        width: 100%;
        height: 50vh;
    }
    .calculator{
        .note{
            margin-top: 5vh;
            margin-bottom: 5vh;
        }
    }
    .equation{

        //field size in eqation for linear equations
        .fieldLinear{
            width: 30vw;
        }
        //field size in eqation for quadratic equations
        .fieldQuadratic{
            width: 17vw;
        }

        //sizes in eqation for cubic equations
        .cubicEquation{
            font-size: 20px;
        }
        //side for the H5, only in cubic has class
        //field size for cubic equation
        .fieldCubic{
            width: 12vw;
            font-size: 20px;
        }
    }
    .answer{
        .ans{
            width: 80%;
            .field{
                margin-top: 5px;
            }
        }
    }
}
