//alert div
.alert404 {
    margin-top: 18vh;
    padding: 10vh 0;
    text-align: center;

    //404 number
    .number404 {
        font-family: var(--head-font);
        font-size: calc(var(--page-title) * 7);
        color: var(--black);
    }

    //404 text
    .text404 {
        margin-top: calc(var(--page-title) * -2.2);
        font-family: var(--body-font);
        font-size: var(--label);
        color: var(--darker-gray);
    }

    //buttons to other routes
    .links {
        margin-top: 3vh;

        //each link
        .link {
            margin: 0 1vw;
            padding: calc(var(--label) / 2);
            font-family: var(--body-font);
            font-size: var(--paragraph);
            color: var(--white);
            border-radius: calc(var(--paragraph) / 2);
            transition: all 0.3s ease-out;

            &:hover {
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
            }

            //first link
            &:nth-child(1) {
                background-color: var(--main-green);
            }
            //second link
            &:nth-child(2) {
                background-color: var(--main-blue);
            }
        }
    }
}

//for mobile screen
@media screen and (min-width: 679px) and (max-width: 1200px) {
    .container {
        min-height: 55vh;
    }
}

//for mobile screen
@media screen and (max-width: 500px) {
    .alert404 {
        .number404 {
            font-size: calc(var(--page-title) * 4.5);
        }
        .text404 {
            margin: unset;
        }
    }
}
