.container {
    margin: 20vh auto 10vh;
    width: var(--width);
    display: grid;
    grid-template-columns: auto 200px;
    column-gap: 5vw;
}

//about section
.about {
    width: 100%;

    //for each text part
    .text {
        margin: 8vh auto;
        width: 100%;
        font-family: var(--body-font);

        //changing the margin for the first child
        &:first-child {
            margin-top: 1vh;
        }

        //part header
        .head {
            font-size: var(--calc-links);
            font-family: var(--head-font);
        }
        //part quote
        .quote {
            margin: 1vh 1vw;
            font-size: var(--paragraph);
            color: var(--darker-gray);
        }
        //part speach
        .speach {
            margin: 2vh auto;
            font-size: var(--paragraph-small);
            color: var(--main-gray);
        }
    }
}

//for the profiles section
.profiles {
    position: relative;
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    transition: all 0.5s ease;
    overflow: hidden;

    //specifies the person part
    .part {
        margin: 2vh auto;
        display: grid;
        grid-template-columns: auto;

        //text of the part
        .partName {
            font-family: var(--head-font);
            font-size: var(--paragraph);
            width: 100%;
            text-align: center;
        }
    }

    //for each ID
    .id {
        position: relative;
        margin: 3vh auto;
        width: 160px;
        height: 160px;
        background-color: var(--black);
        transition: all 0.5s ease;
        color: var(--white);

        //the background image of the person
        .image {
            width: 100%;
            width: 100%;
            transition: all 1s ease;
        }

        //the small photo
        .photo {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-radius: 50%;
            transition: all 0.5s ease;

            //the small picture of the person
            .inner {
                width: 100%;
                width: 100%;
                border-radius: 50%;
            }
        }

        //the person name
        .name {
            position: absolute;
            bottom: 5px;
            width: 100%;
            font-family: var(--head-font);
            text-align: center;
            font-weight: 700;
            font-size: var(--paragraph);
            text-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
            transition: all 0.5s linear;
        }

        //person description
        .description {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            font-family: var(--body-font);
            text-align: center;

            //person work
            .work {
                font-size: 0;
                font-weight: 400;
                transition: all 0.5s linear;
            }

            //person school and stage
            .workingPlace {
                font-size: 0;
                font-weight: 400;
                transition: all 0.5s linear;
            }

            //person related inks
            .links {
                padding: 0;
                margin: auto;
                display: flex;
                justify-content: space-evenly;
                width: 0;
                font-size: 0;
                transition: all 0.5s linear;
                //each link must be white before
                a {
                    color: var(--white);
                    transition: color 0.2s ease-in-out;
                }
                //i use this 3 accounts the most
                //used this 3 ass classes
                .facebook:hover {
                    color: rgba($color: #4167b2, $alpha: 1);
                    text-shadow: 0 0 10px rgba($color: #4167b2, $alpha: 0.5);
                }
                .instagram:hover {
                    color: rgba($color: #f32f6f, $alpha: 1);
                    text-shadow: 0 0 10px rgba($color: #f32f6f, $alpha: 0.5);
                }
                .youtube:hover {
                    color: rgba($color: #f80000, $alpha: 1);
                    text-shadow: 0 0 10px rgba($color: #f80000, $alpha: 0.5);
                }
            }
        }

        //hovering any ID and thing transitions
        &:hover {
            width: 100%;
            height: 200px;

            .image {
                opacity: 0.4;
                filter: blur(6px);
            }

            .photo {
                width: 40%;
                height: 40%;
                bottom: 105px;
            }

            .name {
                bottom: 70px;
                font-size: var(--paragraph);
                text-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.7);
            }

            .description {
                bottom: 3px;
                .work {
                    font-size: 17px;
                }
                .workingPlace {
                    font-size: 14px;
                }
                .links {
                    font-size: var(--paragraph);
                    width: 60%;
                }
            }
        }
    }
}

//made with love text
.madeWithLove {
    margin: 2vh auto;
    width: fit-content;
    font-family: "nunito", sans-serif;
    font-size: 18px;

    //shapes
    .fas {
        margin: auto;
        cursor: pointer;
    }
    //heart
    .fa-heart {
        &:hover {
            color: var(--main-red);
        }
        //shake animation
        &.beat {
            color: var(--main-red);
            animation: shake 0.2s ease-in-out 0s 2;
        }
    }

    //music
    .fa-music {
        &:hover {
            color: #ce00e1;
        }
        //cycle animation
        &.cycle {
            color: #ce00e1;
            animation: cycle 0.4s ease-in-out 0s;
        }
    }
}

//shake animation
@keyframes shake {
    0% {
        font-size: 100%;
    }
    25% {
        font-size: 125%;
    }
    75% {
        font-size: 75%;
    }
    100% {
        font-size: 100%;
    }
}

//cycle animation
@keyframes cycle {
    0% {
        transform: none;
    }
    100% {
        transform: rotate(-360deg);
        font-size: 125%;
    }
}

//for screens bigger than 1600
@media screen and (min-width: 1600px) {
    .container {
        grid-template-columns: auto 260px;
    }
    .profiles {
        .id {
            width: 210px;
            height: 210px;
            &:hover {
                width: 100%;
                height: 260px;
                .photo {
                    width: 45%;
                    height: 45%;
                    bottom: 120px;
                }
                .name {
                    bottom: 80px;
                }
            }
        }
    }
    .madeWithLove {
        font-size: 22px;
    }
}

//for screens smaller than 768px ipad
@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: auto;
    }
    .profiles {
        display: grid;
        grid-template-columns: auto auto;
        .part {
            height: fit-content;
        }
        .id {
            &:hover {
                width: 260px;
                height: 260px;
                .photo {
                    width: 45%;
                    height: 45%;
                    bottom: 120px;
                }
                .name {
                    bottom: 80px;
                }
            }
        }
    }
}

//for mobile screens
@media screen and (max-width: 500px) {
    .profiles {
        display: grid;
        grid-template-columns: auto;
    }
}