//modifing container
.container {
    width: 40%;
}
@media screen and (max-width: 768px) {
    .container {
        width: var(--width);
    }
}

//alert styles
.alert{
    position: relative;
    padding: 1.5vh 3vh;
    margin-bottom: 3vh;
    font-family: var(--body-font);
    font-weight: 700;
    color: var(--white);
    border-radius: calc(var(--paragraph-small) / 2);

    //success
    &.success {
        background-color: rgba($color: #008a63, $alpha: 0.83);
    }

    //failed
    &.failed {
        background-color: rgba($color: #bb0000, $alpha: 0.83);
    }
}

//contact part
.contact {
    padding: 3vh;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(#000000, 0.25);
    border-radius: calc(var(--paragraph-small) / 2);

    //logo style
    .logo {
        margin-bottom: 2vh;
        width: 50px;
    }

    //heading of the form
    .heading {
        //contact us text
        h1 {
            font-family: var(--head-font);
            font-size: var(--calc-links);
        }
        //sub heading
        h2 {
            font-family: var(--body-font);
            font-size: calc(var(--label) - 2px);
        }
    }
}

//contact for
.contactForm {
    margin-top: 5vh;
    width: 100%;

    //each input part
    .input {
        margin-top: 1.5vh;
        padding: calc(var(--paragraph-small) / 2);
        border: 1px solid var(--darker-gray);
        border-radius: calc(var(--paragraph-small) / 2);

        //input labels
        label {
            text-align: left;
            display: block;
            font-family: var(--body-font);
            font-size: calc(var(--paragraph-small) - 4px);
            font-weight: 700;
            text-transform: uppercase;
            color: var(--darker-gray);
        }

        //input textfield and text areas
        input,
        textarea {
            width: 100%;
            border: none;
            background: none;
            font-family: var(--body-font);
            font-size: var(--paragraph);
            color: var(--black);
        }
        textarea {
            resize: vertical;
            outline: none;
        }
    }

    //radio button part
    .radio {
        border: none;
        overflow: hidden;

        //radio part text
        #radioText {
            margin-bottom: 1.5vh;
            text-align: center;
            text-transform: none;
            font-size: calc(var(--paragraph) - 2px);
            color: var(--black);
        }

        //radio buttons
        .radios {
            margin: auto;
            display: flex;
            width: fit-content;

            label {
                font-size: var(--paragraph-small);
            }
            //second label
            label:nth-child(2) {
                margin-right: var(--paragraph-small);
            }

            //radio inputs
            input {
                margin-top: calc(var(--paragraph-small) / 3.5);
                width: var(--paragraph);
                color: var(--darker-gray);
            }
        }
    }

    //form submit button
    .submitBtn {
        margin-top: 2vh;
        padding: 10px 0;
        width: 100%;
        font-size: var(--paragraph);
        font-weight: 700;
        color: var(--white);
        background-image: linear-gradient(to right, var(--main-blue), var(--main-green));
        border: none;
        border-radius: calc(var(--paragraph-small) / 2);
        outline: none;
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
            box-shadow: 0px 0px 15px 0px rgba(#000000, 0.25);
        }
    }
}
