//overriding homepage header styles for screens bigger than 1024px
@media screen and (min-width: 1025px) {
    header {
        padding: 10px 12rem 0 12rem;
        transition: all 1s ease-in-out;

        &.header-scroll {
            padding: 0 5rem 0 5rem;
        }
    }
}

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

/*********************************
***title and calculator Designs***
*********************************/
//the MAIN TAG that contains both TITLE & CALCULATOR section
main {
    margin: auto;
    margin-top: 17vh;
    display: flex;
    width: var(--width);
    height: min-content;
    align-items: center;

    .homeTite {
        flex: 3;
    }
    .calculatorHolder {
        flex: 2;
        height: fit-content;
        justify-content: flex-end;
    }
}
//for ipad pro screen
@media screen and (max-width: 1024px) {
    main {
        margin-top: 20vh;
        flex-direction: column;
        .homeTite {
            margin-bottom: 20vh;
        }
        .calculatorHolder {
            margin: auto;
        }
    }
}
//for ipad and mobile
@media screen and (max-width: 768px) {
    main {
        margin-top: 28vh;
        flex-direction: column;
        .homeTite {
            margin-bottom: 11vh;
        }
        .calculatorHolder {
            display: none;
        }
    }
}

//////////

//////////

//////////

/**********************
***hometitle Designs***
**********************/
.homeTite {
    margin-bottom: 50px;
    //heading title
    h1 {
        font-family: var(--head-font);
        font-size: 45px;
        font-weight: bold;
    }
    //page description
    .description {
        font-family: var(--body-font);
        font-size: var(--paragraph);
        color: var(--main-gray);
        text-align: justify;
    }
}

@media screen and (max-width: 768px) {
    .homeTite {
        text-align: center;
        h1 {
            font-size: 60px;
        }
    }
}

//////////

//////////

//////////

/***********************
***calculator Designs***
***********************/
//page calculator
.calculator {
    position: relative;
    float: right;
    height: 430px;
    width: 280px;
    font-family: var(--calculator-font);
    border: var(--main-blue) 3px solid;
    border-radius: 40px;

    //calclator logo
    h6 {
        position: absolute;
        top: 5px;
        left: 35px;
        font-weight: 400;
        font-size: var(--paragraph-small);
    }

    //answear view field
    .answerview {
        padding: 10px 20px;
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translateX(-50%);
        height: 55px;
        width: 250px;
        background: none;
        font-family: var(--calculator-font);
        font-size: 30px;
        border: var(--main-green) 3px solid;
        border-radius: 30px;
    }

    //buttons div
    .buttons {
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    //button itselfs
    .button {
        margin: 2px;
        width: 56px;
        height: 56px;
        justify-content: center;
        background: none;
        font-family: var(--calculator-font);
        font-size: 30px;
        text-align: center;
        border: var(--main-green) 3px solid;
        border-radius: 15px;
        cursor: pointer;

        &.button:hover {
            font-size: 35px;
        }
    }

    //= button
    .buttonheight {
        height: 118px;
    }
    .buttonwidth {
        width: 118px;
    }
}

//calculator for 1920 x 1080
@media screen and (min-width: 1600px) {
    .calculator {
        height: 620px;
        width: 390px;
        border-radius: 55px;

        //calclator logo
        h6 {
            top: 8px;
            left: 50px;
            font-size: 26px;
        }

        //answear view field
        .answerview {
            padding: 20px;
            top: 45px;
            width: 349px;
            height: 85px;
            font-size: 39px;
        }

        //buttons div
        .buttons {
            top: 149px;
        }

        //button itselfs
        .button {
            height: 83px;
            width: 83px;
            border-radius: 20px;
            font-size: 40px;

            &.button:hover {
                font-size: 50px;
            }
        }

        //= button
        .buttonheight {
            height: 175px;
        }
        //= button
        .buttonwidth {
            width: 175px;
        }
    }
}

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

/*********************************
***Calculators titles and links***
*********************************/

//the section containing calculator names
.calculators {
    margin-top: 10vh;
    padding: var(--padding);
    width: 100%;
    height: fit-content;
    background: #007bab;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;

    //contains all page link and descriptions
    .pages {
        margin-top: 5vh;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(auto-fill);
        column-gap: 5rem;
        row-gap: 4vh;
    }

    //section heading
    h2 {
        margin-top: 10px;

        a {
            font-family: var(--head-font);
            font-size: var(--page-title);
            color: var(--white);
            transition: 0.3s all ease-in-out;

            &:hover {
                font-size: 40px;
            }
        }
    }

    //any calculator styling
    .calc {
        text-align: justify;
        height: 120px;

        //headings
        h3 {
            //links in the heading
            a {
                font-size: var(--calc-links);
                font-family: var(--head-font);
                font-weight: bold;
                color: var(--white);
                transition: 0.3s all ease-in-out;

                &:hover {
                    font-size: 35px;
                }
            }
        }
        //calculator paragraphs
        .textp {
            font-family: var(--body-font);
            font-size: var(--paragraph);
            color: var(--white);
        }
    }
}

//for screens bigger than 1600
@media screen and (min-width: 1600px) {
    .calculators {
        h2 {
            a:hover {
                font-size: 50px;
            }
        }
        .calc {
            h3 {
                a:hover {
                    font-size: 40px;
                }
            }
        }
    }
}

//placing for ipad and smaller screens
@media screen and (max-width: 1024px) {
    .calculators {
        h2 {
            margin-top: 40px;
        }
        .pages {
            grid-template-columns: repeat(2, calc(50% - 2.5rem));
        }
    }
}

//placing for ipad and smaller screens
@media screen and (max-width: 500px) {
    .calculators {
        .pages {
            grid-template-columns: repeat(1, auto);
        }
    }
}

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

//////////

/*********************
***BETA and details***
*********************/

//sign up or new contents show
.content {
    margin: 20vh auto;
    width: 60%;
    
    //intro text
    .intro {
        .introHeading {
            margin-bottom: 1.5vh;
            font-family: var(--head-font);
            font-size: var(--calc-links);
            color: var(--darker-gray);
        }
    }

    //sign up text
    .description {
        margin-bottom: 2vh;
        font-family: var(--body-font);
        font-size: var(--paragraph);
        color: var(--main-gray);
        text-align: justify;

        .fueature{
            margin-bottom: 1.25vh;
            
            //description links
            a{
                color: var(--footer-bg);
                text-decoration: underline;
            }
        }

    }
}

//for screens bigger than 1600
@media screen and (min-width: 1600px) {
    .content {
        .intro {
            h4 {
                padding-top: 6px;
            }
        }
    }
}
//for screens smaller than 1024px
@media screen and (max-width: 1260px) {
    .content {
        .intro {
            flex-direction: column;
            h4 {
                padding: unset;
            }
            .signUpBtn{
                margin: auto;
            }
        }
    }
}
//for screens smaller than 768px
@media screen and (max-width: 768px) {
    .content {
        width: var(--width);
    }
}
