@media screen and (min-width: 1025px) {
  header {
    padding: 10px 12rem 0 12rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  header.header-scroll {
    padding: 0 5rem 0 5rem;
  }
}

/*********************************
***title and calculator Designs***
*********************************/
main {
  margin: auto;
  margin-top: 17vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: var(--width);
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .homeTite {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

main .calculatorHolder {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1024px) {
  main {
    margin-top: 20vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .homeTite {
    margin-bottom: 20vh;
  }
  main .calculatorHolder {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 28vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .homeTite {
    margin-bottom: 11vh;
  }
  main .calculatorHolder {
    display: none;
  }
}

/**********************
***hometitle Designs***
**********************/
.homeTite {
  margin-bottom: 50px;
}

.homeTite h1 {
  font-family: var(--head-font);
  font-size: 45px;
  font-weight: bold;
}

.homeTite .description {
  font-family: var(--body-font);
  font-size: var(--paragraph);
  color: var(--main-gray);
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .homeTite {
    text-align: center;
  }
  .homeTite h1 {
    font-size: 60px;
  }
}

/***********************
***calculator Designs***
***********************/
.calculator {
  position: relative;
  float: right;
  height: 430px;
  width: 280px;
  font-family: var(--calculator-font);
  border: var(--main-blue) 3px solid;
  border-radius: 40px;
}

.calculator h6 {
  position: absolute;
  top: 5px;
  left: 35px;
  font-weight: 400;
  font-size: var(--paragraph-small);
}

.calculator .answerview {
  padding: 10px 20px;
  position: absolute;
  top: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 55px;
  width: 250px;
  background: none;
  font-family: var(--calculator-font);
  font-size: 30px;
  border: var(--main-green) 3px solid;
  border-radius: 30px;
}

.calculator .buttons {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.calculator .button {
  margin: 2px;
  width: 56px;
  height: 56px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
  font-family: var(--calculator-font);
  font-size: 30px;
  text-align: center;
  border: var(--main-green) 3px solid;
  border-radius: 15px;
  cursor: pointer;
}

.calculator .button.button:hover {
  font-size: 35px;
}

.calculator .buttonheight {
  height: 118px;
}

.calculator .buttonwidth {
  width: 118px;
}

@media screen and (min-width: 1600px) {
  .calculator {
    height: 620px;
    width: 390px;
    border-radius: 55px;
  }
  .calculator h6 {
    top: 8px;
    left: 50px;
    font-size: 26px;
  }
  .calculator .answerview {
    padding: 20px;
    top: 45px;
    width: 349px;
    height: 85px;
    font-size: 39px;
  }
  .calculator .buttons {
    top: 149px;
  }
  .calculator .button {
    height: 83px;
    width: 83px;
    border-radius: 20px;
    font-size: 40px;
  }
  .calculator .button.button:hover {
    font-size: 50px;
  }
  .calculator .buttonheight {
    height: 175px;
  }
  .calculator .buttonwidth {
    width: 175px;
  }
}

/*********************************
***Calculators titles and links***
*********************************/
.calculators {
  margin-top: 10vh;
  padding: var(--padding);
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #007bab;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.calculators .pages {
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -ms-grid-rows: ()[auto-fill];
      grid-template-rows: repeat(auto-fill);
  -webkit-column-gap: 5rem;
          column-gap: 5rem;
  row-gap: 4vh;
}

.calculators h2 {
  margin-top: 10px;
}

.calculators h2 a {
  font-family: var(--head-font);
  font-size: var(--page-title);
  color: var(--white);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.calculators h2 a:hover {
  font-size: 40px;
}

.calculators .calc {
  text-align: justify;
  height: 120px;
}

.calculators .calc h3 a {
  font-size: var(--calc-links);
  font-family: var(--head-font);
  font-weight: bold;
  color: var(--white);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.calculators .calc h3 a:hover {
  font-size: 35px;
}

.calculators .calc .textp {
  font-family: var(--body-font);
  font-size: var(--paragraph);
  color: var(--white);
}

@media screen and (min-width: 1600px) {
  .calculators h2 a:hover {
    font-size: 50px;
  }
  .calculators .calc h3 a:hover {
    font-size: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .calculators h2 {
    margin-top: 40px;
  }
  .calculators .pages {
    -ms-grid-columns: (calc(50% - 2.5rem))[2];
        grid-template-columns: repeat(2, calc(50% - 2.5rem));
  }
}

@media screen and (max-width: 500px) {
  .calculators .pages {
    -ms-grid-columns: (auto)[1];
        grid-template-columns: repeat(1, auto);
  }
}

/*********************
***BETA and details***
*********************/
.content {
  margin: 20vh auto;
  width: 60%;
}

.content .intro .introHeading {
  margin-bottom: 1.5vh;
  font-family: var(--head-font);
  font-size: var(--calc-links);
  color: var(--darker-gray);
}

.content .description {
  margin-bottom: 2vh;
  font-family: var(--body-font);
  font-size: var(--paragraph);
  color: var(--main-gray);
  text-align: justify;
}

.content .description .fueature {
  margin-bottom: 1.25vh;
}

.content .description .fueature a {
  color: var(--footer-bg);
  text-decoration: underline;
}

@media screen and (min-width: 1600px) {
  .content .intro h4 {
    padding-top: 6px;
  }
}

@media screen and (max-width: 1260px) {
  .content .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .intro h4 {
    padding: unset;
  }
  .content .intro .signUpBtn {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .content {
    width: var(--width);
  }
}
/*# sourceMappingURL=home.css.map */