<%- include('../../defaults/header') %>

<%- include('../../pageTitle-backPage') %>




<!--working area-->
<section class="container">
    <!--calculator-->
    <section id="calculator" class="calculator">

        <!--decimal to fraction-->
        <div class="decimal">
                <h3 class="name">Decimal to Fraction</h3>
            <!--working part-->
            <div class="calc">
                <!--input part-->
                <div class="input">
                    <label class="label">Decimal</label>
                    <input type="number" id="inputDecimal" autocomplete="off" class="field" placeholder="0.5"
                        oninput="inDecimal(this)">
                </div>

                <!--answer part-->
                <div class="answer">
                    <div class="ans">
                        <label class="label">Fraction</label>
                        <input type="text" id="answerDecimal" autocomplete="off" class="field answerField" placeholder="1 / 2"
                            readonly>
                    </div>
                </div>
            </div>
        </div>

        <!--in between line-->
        <hr class="mid">

        <!--fraction to decimal-->
        <div class="fraction">
                <h3 class="name">Fraction simplifier</h3>
            <div class="calc">
                <!--input part-->
                <div class="input">
                    <label class="label">Fraction</label>
                    <div class="fractionInput">
                        <input type="number" id="inputFraction1" autocomplete="off" class="field" placeholder="2"
                            oninput="inFraction()">
                        <span class="division">/</span>
                        <input type="number" id="inputFraction2" autocomplete="off" class="field" placeholder="4"
                            oninput="inFraction()">
                    </div>
                </div>

                <!--answer part-->
                <div class="answer">
                    <!--answer 1-->
                    <div class="ans">
                        <label class="label">Simplified</label>
                        <input type="text" id="answerFraction1" autocomplete="off" class="field answerField" placeholder="1 / 2"
                            readonly>
                    </div>
                    <!--answer 2-->
                    <div class="ans">
                        <label class="label">Decimal</label>
                        <input type="number" id="answerFraction2" autocomplete="off" class="field answerField" placeholder="0.5"
                            readonly>
                    </div>
                </div>
            </div>
        </div>

    </section>
</section>





<%- include('../../defaults/footer') %>