<%- include('../../defaults/header') %>

<%- include('../../pageTitle-backPage') %>




<!--working area-->
<section class="container">
    <!--calculator-->
    <div id="calculator" class="calculator">
        
        <!--choosing mothed-->
        <div class="controls">
            <h3 class="name">Method</h3>
            <select class="dropdown" id="controls" onchange="changeMethod(this)">
                <option value="1">Directly Proportion</option>
                <option value="2">Indirectly Proportion</option>
            </select>
            </div>
            
            <!--calculator-->
            <div class="calc">
                    <h3 class="label">Input the Values</h3>
                <!--calculation area-->
                <div class="calculationArea">
                    <div class="input1">
                        <input type="number" id="number1" autocomplete="off" class="field" placeholder="4"  oninput="calculate()">
                    </div>
                    <div class="input2">
                        <input type="number" id="number2" autocomplete="off" class="field" placeholder="8"  oninput="calculate()">
                    </div>
                    <div class="input3">
                        <input type="number" id="number3" autocomplete="off" class="field" placeholder="2"  oninput="calculate()">
                    </div>
                    <div class="answer">
                        <input type="number" id="answer" autocomplete="off" class="field answerField" placeholder="4"  readonly>
                    </div>
                </div>
            </div>
        </div>
    </section>



    
    <%- include('../../defaults/footer') %>