/********************************
***header & Navigation Designs***
********************************/

//header
header{
    padding: 10px 5rem 0 5rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10vh;
    align-items: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background-color: var(--white);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;


    //for changing width when page scrolled down
    &.header-scroll{
        height: 8vh;
        padding: unset 5rem 0 5rem;
    }


    //brand and logo part
    .brand{
        flex: 1;
        font-family: var(--brand-font);
        font-size: var(--label);
        font-weight: bold;
        a{
            color: var(--black);
        }

        //web logo
        .logo{
            width: 18px;
        }
    }


    //navigation
    nav{
        z-index: 1;
        width: 35%;
        font-family: var(--body-font);
        transition: all 0.6s ease-in-out;
    }
    //navigation links part
    .nav-links{
        flex: 1;
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-size: var(--paragraph);

        //restyling links
        li{
            position: relative;
        }
        //links
        a{
            color: var(--main-gray);
            letter-spacing: 2px;

            //making a line on links 
            &::before{
                content: '';
                position: absolute;
                top: -2vh;
                height: 3px;
                background-color: var(--darker-gray);
                border-radius: 20px;
                width: 0%;
                transition: all 0.25s ease-in-out;
            }

            //hovering links 
            &:hover{
                color: var(--darker-gray);

                //changing before size when link hovered
                &::before{
                    width: 100%;
                }
            }
        }
            
        //for the active page
        .active{
            font-weight: bold;
        }
    }


    //navigation bars show when the nav links got hidden
    .nav-bars{
        display: none;
        justify-content: center;
        font-size: 24px;
        transition: all 0.6s ease-in-out;
    }

    //bule line under navigation bar
    .line{
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        height: 3px;
        width: 96%;
        background: var(--main-blue);
        border: none;
        border-radius: 3px;
    }
}

//for closing navigation for small screen
.closer{
    display: none;
    z-index: -1;
    position: fixed;
    top: 12vh;
    right: 0;
    width: 100%;
    height: 88vh;
    background-color: var(--darker-gray);
    opacity: 0;
    transition: all 0.6s ease-in-out;

    &.block{
        display: block;
    }
}

//for smaller view, the navigation links get away from each other
@media screen and (max-width: 1200px){
    header{
        nav{
            width: 40%;
        }
    }
}

//header design for between 769 and 1024, usualy just used for ipad pro 
@media screen and (min-width: 769px) and (max-width: 1024px){
    header{
        height: 8vh;
    }
    .header-scroll{
        height: 6vh;
    }
}

//header design for screen smaller than 768px
@media screen and (max-width: 768px){
    header{
        height: 12vh;
        width: 100%;
        padding: 0 7% 0 7%;
        background-color: var(--mobile-header-bg);
        border-radius: 0;

        .brand{
            font-size: 28px;
            .logo{
                width: 24px;
            }
        }
        //changing navigation position and direction
        nav{
            flex: unset;
            position: fixed;
            top: 12vh;
            height: 88vh;
            right: -60%;
            background-color: var(--navLinks-bg);
            width: 60%;
        }
        .nav-links{
            flex-direction: column;
            height: 100%;
            align-items: center;
            font-size: 22px;
            justify-content: space-around;
            a::before{
                display: none;
            }
        }
        .nav-bars{
            display: block;
        }
        .line{
            display: none;
        }
    }
}

//for changing the design when scrolled
.header-768-scroll{
    height: 10vh;
}
.nav-768-scroll, .closer-768-scroll{
    top: 10vh;
    height: 90vh;
}

//when the nav has been opened
.nav-open{
    right: 0;
}
.closer-open{
    opacity: 0.3;
}

//header design for screen smaller than 414px
@media screen and (max-width: 414px){
    header{
        nav{
            right: -70%;
            width: 70%;
        }
    }
}

//header design for screen smaller than 414px
@media screen and (max-width: 320px){
    header{
        padding: 0 5% 0 5%;
    }
}