/************************
***popular calculators***
************************/
.popular-calculators {
  margin-top: 7rem;
  padding: var(--padding-sides);
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #008b58;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
}

.popular-calculators .popular-calculators-title {
  font-family: var(--body-font-family);
  font-size: var(--xx-large-font-size);
  color: var(--white-color);
  text-align: center;
}

.popular-calculators .popular-calculators-grid {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (18.5rem)[4];
      grid-template-columns: repeat(4, 18.5rem);
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
}

.popular-calculators .popular-calculators-grid .calculator {
  padding: 2rem 1rem;
  text-align: center;
  background-color: var(--body-color);
  border: 1px solid rgba(var(--main-background-color-rgb), 0.15);
  border-radius: var(--small-font-size);
  -webkit-box-shadow: 6px 8px 42px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 8px 42px 1px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.popular-calculators .popular-calculators-grid .calculator .calculator-name {
  font-family: var(--head-font-family);
  font-size: var(--x-large-font-size);
  color: var(--head-text-color);
}

.popular-calculators .popular-calculators-grid .calculator .calculator-description {
  margin-top: 1.5rem;
  font-family: var(--head-font-family);
  font-size: var(--small-font-size);
  color: var(--body-text-color);
}

.popular-calculators .popular-calculators-grid .calculator:hover {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

@media screen and (max-width: 1600px) {
  .popular-calculators .popular-calculators-grid {
    -ms-grid-columns: (16.25rem)[4];
        grid-template-columns: repeat(4, 16.25rem);
  }
}

@media screen and (max-width: 1360px) {
  .popular-calculators .popular-calculators-grid {
    -ms-grid-columns: (calc((100% - 9rem) / 4))[4];
        grid-template-columns: repeat(4, calc((100% - 9rem) / 4));
  }
}

@media screen and (max-width: 1024px) {
  .popular-calculators .popular-calculators-grid {
    -ms-grid-columns: (calc((100% - 6rem) / 3))[3];
        grid-template-columns: repeat(3, calc((100% - 6rem) / 3));
  }
}

@media screen and (max-width: 768px) {
  .popular-calculators .popular-calculators-grid {
    -ms-grid-columns: (calc((100% - 4rem) / 2))[2];
        grid-template-columns: repeat(2, calc((100% - 4rem) / 2));
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    row-gap: 3rem;
  }
}

@media screen and (max-width: 500px) {
  .popular-calculators .popular-calculators-grid {
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
    -webkit-column-gap: unset;
            column-gap: unset;
    row-gap: 1.5rem;
  }
  .popular-calculators .popular-calculators-grid .calculator {
    display: none;
  }
  .popular-calculators .popular-calculators-grid .calculator:first-child, .popular-calculators .popular-calculators-grid .calculator:nth-child(2), .popular-calculators .popular-calculators-grid .calculator:nth-child(3), .popular-calculators .popular-calculators-grid .calculator:nth-child(4), .popular-calculators .popular-calculators-grid .calculator:nth-child(5) {
    display: block;
  }
}
/*# sourceMappingURL=popular-calculators.css.map */