<!--page footer-->
<footer>
    <!--page atermark-->
    <div class="brand">
        <a href="#" class="logo">Math with Science <img class="logo" src="./images/Logo.svg"></a>
    </div>
    <!--links in footer-->
    <div class="links" style="float: right">
        <a href="/about" target="_blank" class="link">About Us</a>
        <a href="/calculators" target="_blank" class="link">Calculators</a>
        <a href="/contact">Contact</a>
    </div>
    <!--footer copyright-->
    <p class="copyright">©2020 Math with Science</p>
</footer>
</body>

</html>