<!--page footer-->
<footer>
    <!--page atermark-->
    <div class="brand">
        <a href="#" class="logo">Math with Science <img class="logo" src="./images/Logo.svg"></a>
    </div>
    <!--links in footer-->
    <div class="links">
        <div class="socials">
            <!-- <a href=".facebook" class="facebook"><i class="fab fa-facebook-square"></i></a> -->
            <a href="https://www.instagram.com/mathwithscience/" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
        <a href="/about" class="link">About Us</a>
        <a href="/calculators" class="link">Calculators</a>
        <a href="/contact" class="link">Contact</a>
    </div>
    <!--footer copyright-->
    <p class="copyright">©2020 Math with Science</p>
</footer>
</body>

</html>