//added API fonts
@import url("https://fonts.googleapis.com/css?family=Manjari:400,700|Nunito:300,400,700|Open+Sans+Condensed:300|Satisfy&display=swap");

/****************
***used fonts***
****************/

// default usd font families
:root {
    --head-font-family: "Manjari", sans-serif; // mostly used for the header of the content
    --body-font-family: "Nunito", sans-serif; // mostly used for body of the content and links
    --calculator-font-family: "Open Sans Condensed", sans-serif; // used for the calculators
    --brand-font-family: "Satisfy", cursive; // the font used in the brand logo font
}

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

/************************************
***used Margin, paddings and width***
************************************/

// default margin, padding and width size variables for screens wider than 768px
:root {
    --padding: 1rem 5rem; //mostly used in the contents
    --margin: 1rem 5rem; //comonly used
    --width: calc(100% - 10rem); // used in any content that doesn't have padding
}

// margin, padding and width for screens tighter or equal to 768px
@media screen and (max-width: 768px) {
    :root {
        --padding: 1rem 7%;
        --margin: 1rem 7%;
        --width: 86%;
    }
}

// margin, padding and width for screens tighter or equal to 500px
@media screen and (max-width: 500px) {
    :root {
        --padding: 1rem 5%;
        --margin: 1rem 5%;
        --width: 90%;
    }
}

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

/****************
***used colors***
****************/

// setting general color varialbles, works for both mode
:root {
    // //text and most used colors
    --white-color: #fff;
    --black-color: #000;

    // the main colors of the website design
    --main-green-color: #00cc80;
    --main-blue-color: #00c2ff;
    --main-red-color: #e10000;
    --main-gray-color: #787878;
}

////////////////

// designing the colors variables, works for lightmode
// this can be written with the :root on top, but i prefer differing it to make it easy to understand
:root {
    --body-color: #fcfcfc; // body background colors

    // navigation colors
    --header-background-color: #fff; // background color of the header
    --mobile-header-bg-color: #c9c9c9; // mobile header background color
    --mobile-nav-bg-color: #e4e4e4; // mobile nav drawer background color
    --mobile-nav-bg-color-rgb: 228, 228, 228; // mobile nav drawer color as RGB numbers so it can be used in the drawer animation

    --nav-links-color: #5e5e5e; // navigation links font color
    --nav-links-hover-color: #313131; // navigation links font color when hoveres

    // darkening the navigation links color in screens tighter or equal to 1025px
    @media screen and (max-width: 1024px) {
        --nav-links-color: #272727;
        --nav-links-hover-color: #272727;
    }

    // text colors
    --head-text-color: #000; // head texts font color
    --body-text-color: #424242; // body text font color
}

////////////////

// designing darkmode colors
[theme-color="dark"] {
    // body background colors
    --body-color: #353535;

    // header & navigation colors
    --header-background-color: #212121;
    --mobile-header-bg-color: #212121;
    --mobile-nav-bg-color: #292929;
    --mobile-nav-bg-color-rgb: 41, 41, 41;

    --nav-links-color: #fdfdfd;
    --nav-links-hover-color: rgba(255, 255, 255, 0.75);

    // text colors
    --head-text-color: #fff;
    --body-text-color: #cfcfcf;
}

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

/**************************************
***used font sizes and other sizings***
**************************************/

// default sizing variables for screens tighter or equal to 1500px
:root {
    // in these sizings 1rem is defined by 16px

    // header height and margin top of the first element in the page
    --header-height-size: 5rem; // used for header height and navigation drawer top
    --first-element-margin-top: calc(
        var(--header-height-size) - 3vh + 5rem
    ); // definging the first element in a page top

    // image sizes
    --brand-image-size: 1.6rem; // brand logo size == 25.6px

    // font sizes
    --nav-link-font-size: 1rem; // font size of the navigation links == 18px

    // general fot sizes
    --x-huge-font-size: 2.5rem; // 40px
    --huge-font-size: 2.25rem; // 36px

    --xxx-large-font-size: 2rem; // 32px
    --xx-large-font-size: 1.8rem; // 28.8px
    --x-large-font-size: 1.6rem; // 25.6px
    --large-font-size: 1.4rem; // 22.4px

    --medium-font-size: 1.125rem; // 18px

    --small-font-size: 1rem; // 16px
    --x-small-font-size: 0.875rem; // 14px
}

// sizing for screens or wider or equal to 1500px
@media screen and (min-width: 1500px) {
    :root {
        // header height and margin top of the first element in the page
        --header-height-size: 6rem;
        --first-element-margin-top: calc(var(--header-height-size) + 5rem);

        // image sizes
        --brand-image-size: 1.8rem; // 28.8px

        // font sizes
        --nav-link-font-size: 1.125rem; // font size of the navigation links == 18px

        // general fot sizes
        --x-huge-font-size: 2.75rem; // 44px
        --huge-font-size: 2.5rem; // 40px

        --xxx-large-font-size: 2.25rem; // 36px
        --xx-large-font-size: 2rem; // 32px
        --x-large-font-size: 1.75rem; // 28px
        --large-font-size: 1.5rem; // 24px

        --medium-font-size: 1.25rem; // 20px

        --small-font-size: 1.125rem; // 18px
        --x-small-font-size: 1rem; // 16px
        --xx-small-font-size: 0.75rem; // 12px
    }
}

// sizing for screens tighter or equal to 1024px
@media screen and (max-width: 1024px) {
    :root {
        --header-height-size: 7rem;
        --first-element-margin-top: calc(var(--header-height-size) * 2.5);
        --brand-image-size: 2rem;
        --nav-link-font-size: 1.4rem;
    }
}

// sizing for screens tighter or equal to 500px
@media screen and (max-width: 500px) {
    :root {
        --header-height-size: 5.5rem;
        --first-element-margin-top: calc(var(--header-height-size) * 2.25);
    }
}

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

////////////////

/******************
***Page Defaults***
******************/

// setting default values for the page
body {
    margin: 0px;
    padding: 0px;
    zoom: 100%;
    overflow-x: hidden;
    background-color: var(--body-color);

    // removing all underlines of all links
    a {
        text-decoration: none;
    }

    // removing all list styling
    ul {
        list-style: none;
    }

    // removing margin and padding and adding color changing transition for all elements
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;

        // this transition works for color changes, defined to happen in theme color changes (lightmode, darkmode)
        transition: background 0.6s, background-color 0.6s, color 0.6s ease;
    }

    // this class is used to prevent the transitions in page start
    &.preload {
        * {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
        }
    }
}

// removing outline of inputs when clicked on
input:focus {
    outline: none;
}
