/*******((***************
***Calculator Defaults***
************************/

// input fields
.input-field {
    padding: 0.25rem 0.4rem 0.1rem;
    width: 100%;
    font-size: var(--medium-font-size);
    color: var(--head-text-color);
    background-color: transparent;
    border: none;
    border-bottom: solid 2px var(--main-green-color);

    // input field placeholder
    &::placeholder {
        color: var(--body-text-color);
    }

    // answerfields
    &.answer-field {
        border-color: var(--main-blue-color);
    }

    // input focus, used when wanted to change input boarder to blue when focused
    &.input-focus {
        transition: border-color 0.3s ease;
        &:focus {
            border-color: var(--main-blue-color);
        }
    }

    // error on answer field
    &.error {
        color: var(--main-red-color);
        border-color: var(--main-red-color);
        animation: shake 0.2s ease-in-out 0s 2;

        //shake for wrong input
        @keyframes shake {
            0% {
                transform: none;
            }
            25% {
                transform: translateX(-0.5rem);
            }
            75% {
                transform: translateX(0.5rem);
            }
            100% {
                transform: none;
            }
        }
    }
}

// for screens smaller than 1600px
@media screen and (max-width: 1600px) {
    .input-field {
        font-size: var(--small-font-size);
    }
}

////////////////

////////////////

////////////////

// input labels
.label {
    color: var(--head-text-color);
    font-family: var(--body-font-family);
    font-size: var(--large-font-size);
}

// for screens smaller than 1600px
@media screen and (max-width: 1600px) {
    .label {
        font-size: var(--medium-font-size);
    }
}

////////////////

////////////////

////////////////

// input labels
.dropdown {
    margin-left: -0.25rem;
    padding: 0.25rem;
    font-family: var(--body-font-family);
    font-size: var(--medium-font-size);

    //options of the dropdown
    option {
        font-size: var(--small-font-size);
    }
}

// for screens smaller than 1600px
@media screen and (max-width: 1600px) {
    .dropdown {
        font-size: var(--small-font-size);

        //options of the dropdown
        option {
            font-size: var(--x-small-font-size);
        }
    }
}

////////////////

////////////////

////////////////

// component-grid
.component-grid {
    display: grid;
    grid-template-columns: repeat(
        3,
        calc((100% - 10rem) / 3)
    ); // these numbers are based on width and padding of the grid section
    column-gap: 5rem;
    row-gap: 3rem;
}

// changing component-grid grid to 2 columns in small screens
@media screen and (max-width: 1024px) {
    .component-grid {
        grid-template-columns: repeat(2, calc((100% - 5rem) / 2));
    }
}

// changing component-grid grid to 1 columns in mobile screens
@media screen and (max-width: 500px) {
    .component-grid {
        grid-template-columns: repeat(1, 100%);
        column-gap: unset;
    }
}
